@import 'options';

.main-work {
  width: 100%;
  min-height: 100vh;
  transition: all 0.6s ease-in;
  margin: 7rem 0;

  .ligne {
    width: 0%;
    height: 2px;
    background-color: $color-500;
    margin: 2rem 0;
  }

  .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    transition: all 0.6s ease-in;
    margin: 3rem 0;

    @media (max-width: 1050px) {
      grid-template-columns: 1fr;
      transition: all 0.6s ease-out;
    }

    .card-index {
      width: 500px;
      height: 300px;
      opacity: 0;
      display: inline-block;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 0.6s ease-in;

      @media (max-width: 1050px) {
        width: 100%;
        transition: all 0.6s ease-out;
      }

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        text-decoration: none;
        overflow: hidden;

        img {
          display: inline-block;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 1;
          object-fit: cover;
        }

        .sec-head {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 2;

          h3 {
            font-size: 2rem;
            font-weight: 600;
            color: $color-300;
            opacity: 0;
            padding: 1rem 0;
          }

          p {
            font-size: 0.8rem;
            font-weight: 300;
            line-height: 1.45;
            padding: 1rem 2rem;
            color: $color-400;
            opacity: 0;
          }
        }
        .sec-bg {
          position: absolute;
          display: inline-block;
          top: 0;
          left: 0;
          width: 100%;
          height: 0%;
          z-index: -1;
          opacity: 0;
        }
      }
    }
  }
}
