@import 'options';

@font-face {
  font-family: 'futurab';
  src: local('futurab'), url(../fonts/futurab.ttf) format('truetype');
}
@font-face {
  font-family: 'futuram';
  src: local('futuram'), url(../fonts/futuram.ttf) format('truetype');
}

body {
  visibility: hidden;
  width: 100%;
  min-height: 100vh;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background-color: $color-600;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'futurab';
}

.title {
  @include title;
}

.subtitle {
  @include subtitle;
}

.text {
  @include text;
}

header {
  width: 100%;
  height: 8vh;
  position: relative;
  display: block;
}

nav {
  width: -webkit-fill-available;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 10;
}

.menu-mobile {
  display: flex;
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-600;
  z-index: 8;

  &.active {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper-mobile {
    width: 75%;
    height: 75%;
    position: relative;

    .ligne-top {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      border-top: 5px solid $color-secondary;
      border-left: 5px solid $color-secondary;
    }

    .ligne-bot {
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: 0;
      right: 0;
      border-right: 5px solid $color-primary;
      border-bottom: 5px solid $color-primary;
    }

    .sec-links {
      width: 100%;
      height: 85%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        font-family: 'futuram';
        font-size: 2.2rem;
        font-weight: 900;
        list-style: none;
        text-decoration: none;
        color: $color-300;
        margin: 1rem 0;
        transition: all 250ms ease-in;
        transition-delay: 50ms;

        &:hover {
          z-index: 0;
          background-color: $color-secondary;
          color: $color-600;
          transform: scale(1.25);
          transition: all 250ms ease-out;

          &:nth-child(2):hover {
            background-color: $color-primary;
          }

          &:nth-child(3):hover {
            background-color: $color-300;
          }
        }
      }
    }

    .sec-icons {
      width: 100%;
      height: 15%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }
}
