@import 'options';
@import 'work';

body {
  visibility: hidden;
  width: 100%;
  min-height: 100vh;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background-color: $color-600;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

.title {
  @include title;
}

.subtitle {
  @include subtitle;
}

.text {
  @include text;
}

header {
  width: 100%;
  height: 8vh;
  position: relative;
  display: block;
}

nav {
  width: -webkit-fill-available;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 10;
}

.menu-mobile {
  display: flex;
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-600;
  z-index: 8;

  &.active {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper-mobile {
    width: 75%;
    height: 75%;
    position: relative;

    .ligne-top {
      width: 70px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      border-top: 5px solid $color-secondary;
      border-left: 5px solid $color-secondary;
    }

    .ligne-bot {
      width: 70px;
      height: 70px;
      position: absolute;
      bottom: 0;
      right: 0;
      border-right: 5px solid $color-primary;
      border-bottom: 5px solid $color-primary;
    }

    .sec-links {
      width: 100%;
      height: 85%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        font-family: 'Poppins', sans-serif;
        font-size: 2.2rem;
        font-weight: 700;
        list-style: none;
        text-decoration: none;
        color: $color-300;
        margin: 1rem 0;
        transition: all 250ms ease-in;
        transition-delay: 50ms;

        &:hover {
          z-index: 0;
          background-color: $color-primary;
          color: $color-600;
          transform: scale(1.25);
          transition: all 250ms ease-out;

          &:nth-child(2):hover {
            background-color: $color-secondary;
          }

          &:nth-child(3):hover {
            background-color: $color-300;
          }
        }
      }
    }

    .sec-icons {
      width: 100%;
      height: 15%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;

  .hero-banner {
    width: 100%;
    height: 90vh - 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Work Sans';
    transition: all 0.6s ease-in;
    margin-top: 2rem;

    .sec-title {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      margin: 1.5rem 0;
      margin-left: 2.5rem;

      @media (max-width: 865px) {
        margin: 1rem 0;
        margin-left: 1.5rem;
      }

      h2 {
        font-size: 3.5rem;
        font-family: 'Work Sans';
        letter-spacing: -4px;
        font-weight: 300;
        color: $color-300;
      }

      .hand-slap {
        width: 3rem;
        height: auto;
        margin-left: 2rem;
        cursor: pointer;

        @media (max-width: 865px) {
          width: 2.5rem;
        }

        img {
          width: 100%;
          height: 100%;

          &:hover {
            transform: rotate(60deg);
            transition: all 200ms ease-in;
          }
        }
      }
    }

    .sec-text {
      p {
        width: 80%;
        font-size: 1.6rem;
        font-weight: 300;
        color: $color-400;
        line-height: 1.525;
        padding: 0 0.5rem;
        margin: 1rem 0;

        @media (max-width: 865px) {
          font-size: 1.4rem;
          width: 100%;
        }

        strong {
          font-weight: 400;
          color: $color-300;
        }
      }
    }

    .sec-btn {
      display: inline-flex;
      flex-direction: row;
      height: 20%;
      align-items: center;
      justify-content: flex-start;
      margin-left: 0.5rem;

      @media (max-width: 865px) {
        flex-direction: column;
        height: 30%;
        align-items: flex-start;
        justify-content: space-between;
      }

      h3 {
        font-family: 'Work Sans';
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-300;

        @media (max-width: 865px) {
          font-size: 1.4rem;
        }
      }

      .btn-action {
        margin-left: 1.5rem;
        width: 250px;
        height: 35px;
        display: inline-block;
        position: relative;
        text-align: center;

        @media (max-width: 865px) {
          margin-top: 2rem;
        }

        a {
          width: 100%;
          height: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: 400;
          color: $color-400;

          &:hover {
            color: $color-600;
          }
        }

        .ligne-blue {
          display: block;
          position: absolute;
          width: 100%;
          height: 10%;
          background-color: $color-primary;
          bottom: 0;
          z-index: -1;
          cursor: pointer;
          transition: all 0.4s ease-in;
          transition-delay: 50ms;

          &.active {
            height: 100%;
            transition: all 0.4s ease-out;
          }
        }
      }
    }
  }
}
